* {
  max-width: 360px;
}

body {
  background-color: #ff900d;
  min-height: 640px;
}

.button {
  background-color: #4b2c0d;
}

.buttons-filter-favor {
  display: flex;
  justify-content: center;
  margin: 50px 30px;
}

.button-style {
  display: block;
  margin: 10px auto;
  width: 200px;
}

.button-favAndDone {
  background-color: #4b2c0d;
  border: 1px solid #4b2c0d;
  color: white;
}

.transition {
  transition: 0.5s;
}

.card-favor-and-done {
  box-shadow: 0 0 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  float: none;
  justify-content: space-between;
  margin: 20px auto;
  padding: 2px;
  width: 304px;
};

.container-login {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 180px;
}

.meals {
  align-items: center;
  background: #0fa36b;
  max-height: 80vh;
}

.container-buttons-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container-buttons {
  display: block;
  margin-top: 100px;
}


/* stackoverflow https://bityli.com/3bN5N */
.button-filter {
  font-size: 15px;
  height: 40px;
  line-height: 1em;
  margin: 1px;
  max-height: 3em;
  width: 100px;
  word-wrap: break-word;
}

.container-explore-by-area {
  margin-top: 70px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

meals > .logo {
  animation: shake 1.5s infinite ease;
} 
